<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <base href="http://localhost:8888/home/">-->
    <title>Đăng nhập</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/static/css/reset.css}">-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/static/css/formlogin.css}">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" class="css">
    <link rel="stylesheet" href="../css/formlogin.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
  <div id="wrapper">
    <form action="" id="form-login">
      <h1 class="form-heading">Form đăng nhập</h1>
      <div class="formgroup">
        <i class="fas fa-user"></i>
        <input type="text" class="form-input" id="username" placeholder="Tên đăng nhập">
      </div>
      <div class="formgroup">
        <i class="fas fa-key"></i>
        <input type="password" class="form-input" id="password" placeholder="Mật khẩu">
        <div id="eye">
          <i class="far fa-eye-slash"></i>
        </div>
      </div>
      <div class="check">
        <input type="checkbox"> Remember me
      </div>
      <input type="submit" value="Đăng nhập" id="form-submit">
      <div class="link">
        <a href="Manager.html"
           id="create-account"> Create Account</a>
        <a href="../html/Findaccount.html"
           id="forgot-password"> Forgot Password</a>
      </div>
    </form>
    <div id="overlay"></div>
    <form action="" id="forgotpass" style="display: none;">
      <h1>Tìm tài khoản</h1>
      <div class="formgroup">
        <input type="text" class="form-forgotpass" placeholder="Nhập Email/Số điện thoại">
      </div>
      <div class="formgroup">
        <input type="password" class="form-forgotpass" placeholder="">
      </div>
      <button id="gui">Gửi</button>
    </form>
<!--    <form action="" id="createaccount" style="display: none;">-->
<!--    </form>-->
  </div>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="../js/login.js"></script>
</body>
</html>