<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <base th:href="@{http://localhost:8888/home/}">-->
    <title>Trang chủ</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="inner-header container">
                <a href="" class="logo">LQH</a>
                <div id="menu">
                    <div class="item">
                        <div class="a" id="Trang-chủ">Trang chủ</div>
                    </div>
                    <div class="item">
                        <div class="a" id="Sản-phẩm">Sản phẩm</div>
<!--                        <a id="Sản-phẩm" href="">Sản phẩm</a>-->
                    </div>
                    <div class="item">
                        <div class="a" id="comment-res">Đánh giá</div>
<!--                        <a id="blog" href="">Blog</a>-->
                    </div>
                    <div class="item">
                        <div class="a" id="Liên-hệ">Liên hệ</div>
<!--                        <a id="Liên-hệ" href="">Liên hệ</a>-->
                    </div>
                </div>
                <div id="actions">
                </div>
                <div class="item" id="user_picture">
<!--                    <img id="user" th:src="@{/img/user.png}" height="21" width="21"/>-->
                </div>
                <div class="item">
                    <a>
                        <img id="cart" th:src="@{/img/cart.png}" height="21" width="21"/>
                    </a>
                </div>
            </div>
            <div id="cart-number" style="display: none"></div>
        </header>
        <div id="event-access" style="display: none">
            <div class="item" id="customername" style="display: none">Tên</div>
            <div class="item" id="log-in" style="display: none">
                <img class="event-img" th:src="@{/img/7853770_kashifarif_login_account_profile_user_icon.png}"/>
                <div class="event-item">Đăng nhập</div>
            </div>
            <div class="item" id="setting" style="display: none">
                <img class="event-img" th:src="@{/img/1814117_gear_options_preferences_setting_icon.png}"/>
                <div class="event-item">Cài đặt</div>
            </div>
            <div class="item" id="log-out" style="display: none">
                <img class="event-img" th:src="@{/img/7853741_logout_kashifarif_exit_out_close_icon.png}"/>
                <div class="event-item">Đăng xuất</div>
            </div>
        </div>
        <div id="container-information"></div>
    </div>

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{https://code.jquery.com/jquery-3.7.0.js}"></script>
<!--    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>-->
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop()) {
                    $('header').addClass('sticky');
                    $('#event-access').addClass('sticky');
                    $('#cart-number').addClass('sticky');
                } else {
                    $('header').removeClass('sticky');
                    $('#event-access').removeClass('sticky');
                    $('#cart-number').removeClass('sticky');
                }
            })
        })
    </script>
</body>
</html>