<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
  <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>-->
</head>
<body>
  <div class="login">
    <h2>Member login</h2>
    <br>
    <p>Email address</p>
    <br>
    <input type="text" placeholder="Enter email">
    <br>
    <p>Password</p>
    <br>
    <div class="pass">
      <input id="pass" type="password" placeholder="Enter password">
      <img onclick="myfunction()" src="../static/img/eye_icon.png" width="24" height="auto"/>
    </div>
    <script type="text/javascript">
      var x = true;
      function myfunction() {
        if (x) {
          document.getElementById('pass').type = "text";
          x = false;
        }
        else{
          document.getElementById('pass').type = "password";
          x = true;
        }
      }
    </script>
<!--    <input type="password" placeholder="Enter password">-->
    <br>
    <div class="check">
      <input type="checkbox">
      Remember me
    </div>
    <br>
    <button>Login</button>
    <br>
    <div class="link">
      <a href="#" class="create-account"> Create Account</a>
      <a href="#" class="forgot-password"> forgot password</a>
    </div>
  </div>
</body>
</html>